@model cw12.Models.Patients

@{
    ViewData["Title"] = "Details";
}

<style>
    table, th, td {
    border: 1px solid black;
    padding: 5px;
    }
</style>
<h1>Details</h1>

<div>
    <h4>Patient</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescriptions)
        </dt>

        <dd class="col-sm-10">
            <table>
                <th>Id</th>
                <th>Date</th>
                <th>Due Date</th>
                <th>Doctor Id</th>
                @foreach (var p in Model.Prescriptions)
                {
                    <tr>
                        <td>@p.IdPatient</td>
                        <td>@p.Date</td>
                        <td>@p.DueDate</td>
                        <td>@p.IdDoctor</td>
                    </tr>
                }
            </table>
        </dd>

    </dl>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>